<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BLOG | <%= title %></title>
  <style>
    @import url("https://fonts.googleapis.com/css?family=Roboto");

    html,
    body {
      font-family: cursive;
      margin: 0;
      padding: 0;
      background-color: #f7f7f7;
    }
    .content {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }

    /* Header Styles */
    .app-header {
      background-color: #333;
      color: #fff;
      padding: 10px 0;
      text-align: center;
    }

    .name a {
      text-decoration: none;
      color: #fff;
    }

    /* Navigation Styles */
    .nav {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 10px;
    }

    .nav a {
      color: #fff;
      text-decoration: none;
      margin: 0 10px;
    }

    /* Blog List Styles */
    .blogs h2 {
      margin-top: 20px;
    }

    .title {
      font-size: 24px;
      margin-top: 10px;
    }

    .snippet {
      font-size: 16px;
    }

    /* About Styles */
    .about h2 {
      margin-top: 20px;
    }

    .about p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    /* Create Blog Styles */
    .create-blog form {
      margin-top: 20px;
    }

    form label {
      display: block;
      margin-top: 10px;
      font-weight: bold;
    }

    input[type="text"],
    textarea {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
    }

    button {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      font-family: cursive;
    }

    /* 404 Not Found Styles */
    .not-found {
      text-align: center;
      font-size: 24px;
      margin-top: 20px;
      color: #f00;
    }

    footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 10px 0;
    }

    footer p {
      font-size: 14px;
    }

    /* Navigation Styles */
    nav {
      background-color: #333;
      color: #fff;
      padding: 10px;
    }

    .site-title a {
      text-decoration: none;
      color: #fff;
    }

    .site-title h1 {
      font-size: 40px;
      margin: 0;
    }

    .site-title p {
      font-size: 14px;
      margin: 5px 0;
    }

    ul {
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    ul li {
      display: inline;
      margin-right: 20px;
    }

    ul li:last-child {
      margin-right: 0;
    }

    ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
    }
  </style>
</head>
