<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>ABOUT ME</h2>
      <p>
        I am a dedicated Front-End Engineer who thrives on creating exceptional
        web experiences. My journey in web development is driven by a passion
        for user interfaces that are not only functional but also aesthetically
        pleasing. With a solid foundation in HTML, CSS, and JavaScript, I've
        honed my skills to transform design concepts into responsive and
        interactive web applications. Whether it's meticulously crafting
        pixel-perfect interfaces or optimizing web performance, I approach each
        project with a commitment to quality and innovation.
      </p>
      <p>
        My proficiency extends to popular front-end frameworks, including React
        and Angular, enabling me to harness the power of these tools to build
        dynamic and cutting-edge user interfaces. Accessibility and user
        experience are at the core of my work. I take pride in ensuring that the
        web applications I create are accessible to all users, regardless of
        their abilities. I am on a continuous quest for learning, exploring new
        technologies, and staying up-to-date with the ever-evolving field of
        front-end development.
      </p>
      <p>
        My approach to front-end engineering is deeply rooted in creativity,
        problem-solving, and a forward-thinking mindset. I relish the challenge
        of optimizing site speed, implementing innovative features, and
        contributing to the visual and functional excellence of the web. Each
        project I undertake represents an opportunity to craft compelling
        digital experiences that resonate with users and drive success. With a
        diverse skill set and an unwavering passion for the art of front-end
        development, I'm ready to take on new challenges and make a positive
        impact in the ever-evolving web landscape.
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
